body {
  text-decoration: none;
  min-width: 320px;
}
.dropdown-menu li a > span {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #e7e7e7;
}
.RU {
  background: url("../image/RU.png") center center no-repeat;
  width: 30px;
  height: 20px;
}
.EN {
  background: url("../image/EN.png") center center no-repeat;
  width: 30px;
  height: 20px;
}
.HE {
  background: url("../image/HE.png") center center no-repeat;
  width: 30px;
  height: 20px;
}
nav {
  border-bottom: 1px solid #e7e7e7;
}
nav .navbar-header {
  padding: 0 100px;
}
nav .navbar-right li {
  margin-right: 5px;
}
nav .navbar-right {
  margin-top: 15px;
}
.form-section {
  text-align: center;
  vertical-align: middle;
  max-width: 450px;
  margin: auto;
  margin-top: 20px;
}
.form-section .info-block {
  border: 1px solid #bce8f1;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-section .info-block .info-block-top {
  background: #d9edf7;
  padding: 10px 0;
  padding-bottom: 10px;
}
.form-section .info-block .info-block-top .webim-btn {
  background: #d9edf7;
  border: none;
  margin-bottom: 0;
  text-decoration: underline;
}
.form-section .info-block .info-block-top .webim-btn:hover {
  border: 2px solid #bce8f1;
}
.form-section .form-block {
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  height: auto;
  margin-bottom: 15px;
}
.form-section .form-block h1 {
  font-size: 28px;
  margin-top: 0px;
  color: #2475c0;
  border-right: 2px solid #d9edf7;
  border-left: 2px solid #d9edf7;
}
.form-section .form-block form .form-group > .control-label:after {
  content: "*";
  color: red;
}
.form-section .center-block {
  margin-bottom: 15px;
}
.submit-button * {
  display: inline-block !important;
}
.forgot-pass {
  text-align: right;
}
.webim-ru {
  float: right;
}
.webim-ru:before {
  content: "Предоставлено: ";
}
footer .navbar {
  margin-bottom: 0px;
  padding: 10px 20px;
  text-decoration: none;
  color: #777;
  border-top: 1px solid #e7e7e7;
}
footer .navbar *:hover {
  text-decoration: none;
}
footer .navbar a {
  color: #777;
}
footer .navbar a:nth-child(2) {
  margin-right: 40px;
}
